body{
  background-color: $backgroundColor;
  //for dragged buttons
  .button-small{
    @include button( 72.5px,$buttonColor3,white,$buttonColor32);

  }

  .button-medium {
    @include button( 165px,$buttonColor2,white,$buttonColor22);

  }
  .button-large {
    @include button( 350px,$toolbarbuttoncolor,white,$toolbarbuttoncolor2);
  }
}

.nav{
  color : white;
  width: 100%;
  padding: 0 20px;
  position: relative;
  height: $headerHeight;
  line-height: $headerHeight;
  background-color: $navcolor;
  border-bottom: 1px solid $bordercolor2;
  z-index: 2;
  //@include shadow(0.3,0,1px,3px);
  @include shadowBottom(0.3,0,7px,7px,$bordercolor2);

  h1{
    margin: 0;
    font-size: 35px;
    font-weight: lighter;
  }
}
.footer{
  color : white;
  position: relative;
  padding: 0 20px;
  width: 100%;
  height: $footerHeight;
  line-height: $footerHeight;
  background-color: $footercolor;
  border-top: 1px solid #e5e5e5;
}

.wm-form-creator-app{
  margin: 0 auto;
  position: relative;
  font-weight: lighter;
 // height: auto;
  text-align: left;
  zoom: 1;
  z-index: 1;
  height: calc( 100vh - #{$headerHeight} - #{$footerHeight} );

  border-right: 1px solid $bordercolor;
  border-left: 1px solid $bordercolor;

  background-color: $mainWindowColor;


  @include xlarge{
    max-width: $large-desktop;
  }
  @include large{
    max-width: $desktop;
  }

  @include medium{
    max-width:  $tablet;
  }

  @include small{
    max-width: $mobile;
  }

}



.wm-form-creator-app{

  .formCreator{
    display: none;
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;

    .main{

      .toolbar{
        background-color: $mainToolbarColor;

        position: absolute;
        width: $toolbar-width;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        z-index: 4;
        box-shadow: 6px 0 8px -6px $shadowcolor;

        .content{
          display: inline-block;
          margin: 20px;
          margin-right: 0;
          margin-bottom:10px;
          top: 0;
          bottom: 0;
          height: calc(100% - 40px);

          .form-name{
            display: block;
            width: $toolbar-width - 2*$spacing;
            height: 34px;
            margin-bottom: 5px;
            position: relative;
            background-color: white;
            z-index: 2;
            .form-icon{
              width: 34px;
              height: 34px;
              position: absolute;
              font-size: 25px;
              text-align: center;
            }
            .form-name-value{
              width: calc(100% - 2px - 34px);
              height: 32px;
              font-size: 28px;
              line-height: 32px;
              top: 0;
              left: 34px;
              position: absolute;
              color: $fontcolor;
              border: none;

            }
            &.error{
              .form-icon{
              }
            }

          }

          .buttons-group{
            overflow: auto;
            list-style: none;
            display: block;
            float: left;
            width: inherit;
            margin: 10px 0;
            padding-left: 0;

            .button-small{
              @include button( $toolbar-width - 4*$spacing,$buttonColor3,white,$buttonColor32);
              @include shadow(0.4);
              &.dragged{
                background-color: $buttonColor22;
              }
            }

            .button-medium {
              @include button( $toolbar-width - 4*$spacing,$buttonColor2,white,$buttonColor22);
              @include shadow(0.4);
              &.dragged{
                  background-color: $buttonColor22;
              }
            }
            .button-large {
              @include button( $toolbar-width - 2*$spacing,$toolbarbuttoncolor,white,$toolbarbuttoncolor2);
              @include shadow(0.4);
              &.dragged{
                background-color: $toolbarbuttoncolor2;
              }
            }


          }
          .cancel-save{
            left: 10px;
            .cancel-button{
              background-color: $mainWindowColor2;
              &:hover{
                background-color: $mainWindowColor3;
              }
            }
          }
        }
      }

      .window{
        z-index: 2;
        position: absolute;
        width: auto;
        height: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: $toolbar-width;
        overflow: hidden;
        background-color: $mainWindowColor;

        .content{
          display: inline-block;
          margin: 20px;
          position: absolute;
          margin-bottom: 40px;
          margin-right: 0;
          top: 0;
          bottom: 0;
          width: calc(100% - 40px);
          height: calc(100% - 80px);
          overflow-y: scroll;

          .inputfields-group,.newinputfield-group{
            overflow: auto;
            list-style: none;
            float: left;
            width: 100%;
            margin: 0;
            min-height: 60px;
            margin-top: 10px;
            padding-left: 0;


            .inputfield{
              @include inputfield($inputfieldcolor, $fontcolor,$inputfieldcolor2);
              @include shadow(0.4);
            }

            .inputfield-placeholder{
              @include inputfield(rgba(red($inputfieldcolor),green($inputfieldcolor),blue($inputfieldcolor),0.2),$inputfieldcolor);
              border: 2px dashed $inputfieldbordercolor;
            }

            .newinputfield{
              @include inputfield($newinputfieldcolor, $fontcolor,60px);
              @include shadow(0.4);
              cursor: default;
              .input-icon{
                position: absolute;
                display: inline-block;
                left: 10px;
                font-size: 25px;
                height: 100%;
                width: 20px;
              }
            }

          }
          .newinputfield-group{
            margin-bottom: 20px;
          }
          .inputfield-group-border{
            border: 2px dashed $inputfieldbordercolor;
            border-radius: 2px;
            box-sizing: border-box;
          }
        }
        .controls{
          position: absolute;
          width: 100%;
          height: 50px;
          bottom: 0;
          left: 0;
          .cancel-save,.close-form-creator{
            .cancel-button,.finish-creator-button{
              margin : 0 20px;
              font-size: 20px;
              text-align: center;
            }
          }
          .cancel-save{
            .cancel-button{
              @include button(140px,$dangerbuttoncolor,white,$dangerbuttoncolor2,38px);
              float: left;

            }
          }
          .close-form-creator{
            .finish-creator-button{
              @include button(140px,$successbuttoncolor,white,$successbuttoncolor2,38px);
              float: right;

            }
          }
        }

      }
    }

    .popup{
      position: relative;
      margin-left: auto;
      margin-right: auto;
      display: none;
      overflow: hidden;
      border-radius: 2px;
      height: 100%;
      width: 100%;
      background-color: white;
      color : $fontcolor;
      z-index: 15;
      .toolbar-editor{
        padding: 20px 0 20px 20px;
        display: block;
        position: absolute;
        overflow: hidden;
        text-align: left;
        width: 350px;
        height: 100%;
        background-color: $toolbarColor;

        box-shadow: 6px 0 8px -6px $shadowcolor;
        z-index: 10;

        .inputfield-name{
          padding: 0 20px 0 10px;
          display: block;
          position: absolute;
          width: 100%;
          left: 0;
          height: 40px;
          background-color: $toolbarColor;
          border-bottom: 1px solid $bordercolor3;
          .inputfield-icon{
            position: absolute;
            left: 20px;
            font-size: 25px;
            color: $fontcolor;


          }
          .inputfield-name-inner{
            display: inline-block;
            height: inherit;
            width: auto;
            color: $fontcolor;
            line-height: 30px;
            vertical-align: middle;
            text-align: left;
            box-sizing: border-box;
            padding-left: 40px;
            font-size: 25px;
          }

        }
        .inputfield-save{
          padding: 0;
          padding-left: 20px;
          display: block;
          position: absolute;
          width: 100%;
          height: 50px;
          bottom: 0;
          left: 0;
          padding-top: 10px;
          box-sizing: border-box;
          background-color: $toolbarColor;
          border-top: 1px solid $bordercolor3;


          .inputfield-save-button{
            @include button(60px,$successbuttoncolor,white,$successbuttoncolor2,30px);
            float: right;
          }
          .inputfield-cancel-button{
            @include button(60px,$dangerbuttoncolor,white,$dangerbuttoncolor2,30px);
            float: left;
          }

        }
        .inputfield-setting{
          box-sizing: border-box;
          display: block;
          position: relative;
          width: 100%;
          height: calc(100% - 70px);
          top: 40px;
          bottom: 50px;
          left: 0;
          background-color: $toolbarColor;
          overflow-y: auto;

          input,textarea,select,option{
            border: 1px solid $bordercolor3;
            color: $fontcolor;
            padding: 2px;
            box-sizing: border-box;

          }

          .block{
            width: calc(100% - 20px);
            height: auto;
            min-height: 45px;
            display: inline-block;
            box-sizing: border-box;
            padding: 10px 0;
            overflow: hidden;
            border-bottom: 1px solid $bordercolor;
            &:last-child{
              border-bottom: 0;
            }

            .heading {
              display: block;
              width: 100%;
              height: $popupinputheight;
              line-height: $popupinputheight;
              font-size: 16px;
              color: $fontcolor;

              .description{
                display: inline-block;
                position: absolute;
                display: none;
                height: $popupinputheight - 4px;
                width: $popupinputheight - 4px;
                padding-top : 2px;
                padding-left: 5px;
              }
            }
            .block-body {
              width: 100%;
              height: auto;
              clear: both;
              .label {
                text-align: left;
                float: left;
                width: calc(100% - 120px);
                height: $popupinputheight;
                line-height: $popupinputheight;
                font-size: 16px;
                color: $fontcolor;

                .description {
                  display: inline-block;
                  position: absolute;
                  display: none;
                  height: $popupinputheight - 4px;
                  width: $popupinputheight - 4px;
                  padding-top: 2px;
                  padding-left: 5px;

                }

              }
              .small-input {
                width: calc(100% - 2px);
                height: $popupinputheight;
                border-radius: 2px;
                display: inline-block;
                box-sizing: border-box;
                padding-left: 5px;

              }

              .max-length {
                width: calc(30% - 2px);
                height: $popupinputheight;
                border-radius: 2px;
                display: inline-block;
                box-sizing: border-box;
                padding-left: 5px;

              }


              .large-input {
                width: calc(100% - 4px);
                height: 55px;
                border-radius: 2px;
                display: inline-block;
                resize: none;
              }
              .choices{
                .choice-block{
                  width: 100%;
                  margin-bottom: 10px;
                  &:last-child{
                    margin-bottom: 0;
                  }
                  .choice{
                    width: calc(100% - 30px - 15px - 4px);
                    height: $popupinputheight;
                    border-radius: 2px;

                  }
                  .controls{
                    width: 23px;
                    float: right;
                    .add-choice-icon,.remove-choice-icon{
                      position: relative;
                      float: left;
                      height: $popupinputheight;
                      width: $popupinputheight;
                      line-height: $popupinputheight;
                      padding-right: 5px;
                      cursor: pointer;
                      color: $successbuttoncolor2;
                      font-size: 23px;
                      top: -2px;
                      &:hover{
                        color:$successbuttoncolor;
                      }
                    }
                    .remove-choice-icon{
                      color: $dangerbuttoncolor2;
                      &:hover{
                        color: $dangerbuttoncolor;
                      }
                    }
                  }

                }
              }

              .selection-count{
                width: 100%;
                margin-top: 3px;
                .label{
                  width: 100%;
                }
                .min-selection,.max-selection{
                  width: calc(50% - 5px);
                  float: left;
                  .min-selected,.max-selected{
                    width: calc(100% - 6px);
                    height: $popupinputheight;
                    border-radius: 2px;
                    display: inline-block;
                    box-sizing: border-box;
                    padding-left: 5px;
                    //&:focus {
                    //  outline: 2px solid $mainToolbarColor;
                    //  outline: 0;
                    //}
                  }

                }
                .max-selection{
                  float: right;
                }
              }


              .dataset {
                width: calc(100% - 45px - 2px);
                height: $popupinputheight;
                border-radius: 2px;
                display: inline-block;
                box-sizing: border-box;
                padding-left: 5px;

              }
              .dataset-add-icon {
                position: relative;
                height: $popupinputheight;
                width: $popupinputheight;
                float: right;
                margin-top: -3px;
                cursor: pointer;
                font-size: 23px;
                color: $successbuttoncolor2;
                &:hover{
                  color:$successbuttoncolor
                }

              }

              .description-block {
                display: none;
                width: 100%;
                .description{
                  margin-top: 10px;
                }
              }

              .on-off-setup {
                width: 2*$on-off-width;
                height: $popupinputheight;
                border: none;
                border-radius: 2px;
                display: block;
                float: right;
                overflow: hidden;

                .mover {
                  position: relative;
                  width: 3*$on-off-width;
                  left: - $on-off-width;
                  cursor: pointer;

                  .on-setup, .off-setup, .slider {
                    float: left;
                    width: $on-off-width;
                    height: $popupinputheight;
                    line-height: $popupinputheight;
                    vertical-align: middle;
                    text-align: center;
                    color: white;
                    border-radius: 0;
                  }
                  .on-setup {
                    background-color: $successbuttoncolor2;
                    border-top-left-radius: 2px;
                    border-bottom-left-radius: 2px;
                    &:hover{
                      background-color: $successbuttoncolor;
                    }
                  }
                  .slider {
                    background-color: $sliderColor;
                    border-radius: 2px;
                  }
                  .off-setup {
                    background-color: $dangerbuttoncolor2;
                    border-top-right-radius: 2px;
                    border-bottom-right-radius: 2px;
                    &:hover{
                      background-color: $dangerbuttoncolor;
                    }
                  }
                }
                .on-selected {
                  left: 0;
                  .slider {
                    border-top-left-radius: 0px;
                    border-bottom-left-radius: 0px;
                    border-top-right-radius: 2px;
                    border-bottom-right-radius: 2px;
                  }
                }
                .off-selected {
                  left: -$on-off-width;
                  .slider {
                    border-top-left-radius: 2px;
                    border-bottom-left-radius: 2px;
                    border-top-right-radius: 0px;
                    border-bottom-right-radius: 0px;
                  }
                }
              }
              .add-dataset-block{
                border-top: 1px solid white;
                display: none;
                margin-top: 10px;
                .dataset-save {
                  padding: 0;
                  display: block;
                  width: 100%;
                  bottom: 0;
                  left: 0;
                  padding-top: 10px;
                  box-sizing: border-box;
                  .dataset-save-button {
                    @include button(60px,$successbuttoncolor2,white,$successbuttoncolor,30px);
                    margin: 0;
                    text-align: center;
                    float: right;

                  }
                  .dataset-cancel-button {
                    @include button(60px,$dangerbuttoncolor2,white,$dangerbuttoncolor,30px);
                    float: left;
                    margin: 0;
                    text-align: center;
                  }
                }
              }
            }
          }
        }
      }
      .preview{
        position: absolute;
        width: auto;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 350px;
        overflow: auto;
        overflow-x: hidden;
        background-color: $previewColor;

        .preview-block {
          width: 450px;
          padding-left: 40px;
          box-sizing: border-box;
          margin-top: 200px;
          visibility: hidden;

          input,select,textarea,option{
            border: 1px solid $bordercolor3;
            color: $fontcolor;
            padding: 2px;
            box-sizing: border-box;
            background-color: white;
          }


          .fieldname {
            box-sizing: border-box;
            display: block;
            width: 100%;
            position: relative;
            color: $fontcolor;
            vertical-align: middle;
            line-height: 30px;
            font-size: 30px;
            cursor: pointer;
          }

          .description {
            box-sizing: border-box;
            width: 100%;
            position: relative;
            color: $fontcolor;
            margin-top: 10px;
            vertical-align: middle;
            line-height: 20px;
            font-size: 20px;
            cursor: pointer;
          }
          .shortanswer {
            width: 100%;
            height: 38px;
            border: none;
            display: inline-block;
            margin-top: 15px;
            margin-bottom: 20px;
            .shortanswer-input{
              width: calc(100% - 4px);
              height: 100%;
              font-size: 32px;
              border: $shadowcolor 1px solid;
              border-radius: 2px;
              display: inline-block;

              //&:focus {
              //  outline: 2px solid $mainToolbarColor;
              //  outline: 0;
              //}
            }

          }
          .longanswer {
            width: 100%;
            height: 120px;
            border: none;
            display: inline-block;
            margin-top: 15px;
            margin-bottom: 20px;
            .longanswer-input{
              resize: none;
              width: calc(100% - 4px);
              height: 100%;
              font-size: 20px;
              border: $shadowcolor 1px solid;
              border-radius: 2px;
              display: inline-block;
              //&:focus {
              //  outline: 2px solid $mainToolbarColor;
              //  outline: 0;
              //}
            }
          }
          .selectbox{
            width: 100%;
            height: 38px;
            border: none;
            display: inline-block;
            margin-top: 15px;
            margin-bottom: 20px;
            .selectbox-input{
              width: calc(100% - 4px);
              height: 100%;
              font-size: 22px;
              border-radius: 2px;
              display: inline-block;
              //&:focus {
              //  outline: 0;
              //}
            }

          }
          .checkbox{
            width: 100%;
            border: none;
            display: inline-block;
            margin-top: 15px;
            margin-bottom: 20px;
            .checkbox-input-block{
              .checkbox-input{
                display: none;
              }
              .label{
                width: 100%;
                display: block;
                height: 34px;
                position: relative;
                cursor: pointer;
                background-color: white;
                font-size: 24px;
                line-height: 34px;
                margin-bottom: 6px;
                padding-left: 40px;
                box-sizing: border-box;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                border-radius: 2px;
                border: 1px solid $bordercolor3;
                color: $fontcolor;
                border-left: 0;
                .check-icon {
                  display: block;
                  position: absolute;
                  background-color: $dangerbuttoncolor2;
                  top: 0;
                  bottom: 0;
                  left: 0;
                  width: 34px;
                  height: 100%;
                  color: white;
                  text-align: center;
                  font-size: 24px;
                  line-height: 34px;
                  border-right: 0;
                  i{
                    margin-top: -4px;
                  }


                  &:hover{
                    background-color: $dangerbuttoncolor;
                  }

                }
              }
              .checked{

                .check-icon {
                  background-color: $successbuttoncolor2;

                  &:hover{
                    background-color: $successbuttoncolor;
                  }
                }
              }
            }

          }
          .preview-save{
            display: block;
            height: 50px;
            box-sizing: border-box;
            .preview-back-button,.preview-next-button{
              text-align: center;
              font-size: 20px;
            }
            .preview-back-button{
              @include button(95px,$dangerbuttoncolor,white,$dangerbuttoncolor2,38px);
              float: left;
              margin: 0;
              i{
                padding-right: 5px;
              }
            }
            .preview-next-button{
              @include button(100px,$successbuttoncolor,white,$successbuttoncolor2,38px);
              float: right;
              margin: 0;
              i{
                padding-left: 5px;
              }
            }
          }
        }

        .close {
          position: absolute;
          top: 10px;
          right: 10px;
          color: black;
          width: 40px;
          height: 40px;
          cursor: pointer;

        }
      }
    }

  }



}

.blur{
  -webkit-filter: blur(3px) grayscale(50%) opacity(0.8);
  -moz-filter: blur(3px) grayscale(50%) opacity(0.8);
  -o-filter: blur(3px) grayscale(50%) opacity(0.8);
  -ms-filter: blur(3px);
  filter: blur(3px) grayscale(50%) opacity(0.8);
}