body{
  @include gradient($backgroundColor,$backgroundColor2);

  .button-small{
    @include button( 72.5px,$buttonColor3,white,$buttonColor32);

  }

  .button-medium {
    @include button( 165px,$buttonColor2,white,$buttonColor22);

  }
  .button-large {
    @include button( 350px,$buttonColor1,white,$buttonColor12);
  }
}


.wm-form-creator-app{
  font-weight: lighter;
  position: absolute;
  top: 80px;
  right: 0;
  bottom: 60px;
  left: 0;
  min-height: 500px;
  height: auto;
  margin: 0 20px;
  text-align: left;
  background-color: $mainAppColor;
  zoom: 1;
  z-index: 1;


  .formCreator{
    display: none;
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;

    .main{
      .form-name{
        display: block;
        width: $toolbar-width;
        height:34px;
        position: absolute;
        top: -34px;
        background-color: white;
        z-index: 2;
        .form-icon{
          width: 34px;
          height: 34px;
          position: absolute;
          top:0;
          left:0;
        }
        .form-name-value{
          width: calc(100% - 2px - 34px);
          height: 32px;
          font-size: 28px;
          line-height: 32px;
          top:0;
          left:34px;
          position: absolute;
          color:$backgroundColor;
          border: none;

        }
        &.error{
          .form-icon{
          }
        }

      }

      .toolbar{
        background-color: $mainToolbarColor;
        @include gradient($mainToolbarColor1,$mainToolbarColor);

        position: absolute;
        width: $toolbar-width;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        z-index: 4;
        box-shadow: 6px 0 8px -6px $gray;

        .content{
          display: inline-block;
          margin: 20px;
          margin-right: 0;
          margin-bottom:10px;
          top: 0;
          bottom: 0;
          height: calc(100% - 40px);

          .buttons-group{
            overflow: auto;
            list-style: none;
            display: block;
            float: left;
            width: inherit;
            margin: 10px 0;
            padding-left: 0;

            .button-small{
              @include button( $toolbar-width - 4*$spacing,$buttonColor3,white,$buttonColor32);
              @include shadow(0.4);
              &.dragged{
                background-color: $buttonColor22;
              }
            }

            .button-medium {
              @include button( $toolbar-width - 4*$spacing,$buttonColor2,white,$buttonColor22);
              @include shadow(0.4);
              &.dragged{
                  background-color: $buttonColor22;
              }
            }
            .button-large {
              @include button( $toolbar-width - 2*$spacing,$buttonColor1,white,$buttonColor12);
              @include shadow(0.4);
              &.dragged{
                background-color: $buttonColor22;
              }
            }


          }

          .close-form-creator, .cancel-save{
            position: absolute;
            bottom: 5px;
            right: 10px;
            width: 100px;
            .close-button,.cancel-button{
              display: block;
              width: 100%;
              height: 35px;
              float:right;
              vertical-align: middle;
              text-align: center;
              line-height: 35px;
              font-size: 20px;
              border-radius: 2px;
              background-color: $mainToolbarColor5;
              color:white;
              cursor: pointer;
              @include shadow(0.4);

              &:hover{
                background-color: $mainToolbarColor4;
              }
            }
          }

          .cancel-save{
            left: 10px;
            .cancel-button{
              background-color: $mainWindowColor2;
              &:hover{
                background-color: $mainWindowColor3;
              }
            }
          }
        }
      }

      .window{
        z-index: 2;
        position: absolute;
        width: auto;
        height: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: $toolbar-width;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: $mainWindowColor;
        @include gradient($mainWindowColor1,$mainWindowColor);

        .content{
          display: inline-block;
          margin: 20px;
          position: absolute;
          margin-bottom: 30px;
          margin-right: 0;
          top: 0;
          bottom: 0;
          width: calc(100% - 40px);
          height: calc(100% - 50px);

          .inputfields-group,.newinputfield-group{
            overflow: auto;
            list-style: none;
            float: left;
            width: 100%;
            margin: 0;
            min-height: 60px;
            margin-top: 10px;
            padding-left: 0;

            @mixin inputfield($background:black ,$color:white , $height:60px){
              box-sizing: border-box;
              display: block;
              width: 100% ;
              height: $height;
              position: relative;
              margin-bottom: 10px;
              background-color: $background;
              color : $color;
              padding: 0 25px 0 28px;
              vertical-align: middle;
              line-height: $height;
              border-radius: 2px;
              font-size: 20px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              cursor: pointer;
              &:last-child{
                //margin-bottom: 0;
              }
              .input-icon{
                position: absolute;
                display: inline-block;
                left: 4px;
                height: 20px;
                width: 20px;

              }
              .input-remove-icon{
                position: absolute;
                display: inline-block;
                right: 10px;
                height: 20px;
                width: 20px;
              }

            }

            .inputfield{
              @include inputfield($fieldColor,$fieldFontColor);
              @include shadow(0.4);
            }

            .inputfield-placeholder{
              @include inputfield(rgba(red($fieldColor),green($fieldColor),blue($fieldColor),0.2),$fieldFontColor);
              border: 2px dashed $fieldColor;
            }

            .newinputfield{
              @include inputfield($mainToolbarColor,$fieldFontColor,60px);
              @include shadow(0.4);
              cursor: default;
              .input-icon{
                position: absolute;
                display: inline-block;
                left: 4px;
                height: 24px;
                width: 24px;
                padding-top: (60px - 24px )/2 ;
              }
            }

          }
          .newinputfield-group{
            margin-bottom: 20px;
          }
          .inputfield-group-border{
            border: 2px dashed white;
            border-radius: 2px;
            box-sizing: border-box;
          }
        }

      }
    }

    .popup{
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      display: none;
      overflow: hidden;
      border-radius: 2px;
      height: auto;
      width: auto;
      top: 18px;
      bottom: 18px;
      left: 18px;
      right: 18px;
      background-color: white;
      z-index: 15;
      .toolbar-editor{
        padding: 0;
        display: block;
        position: absolute;
        overflow: hidden;
        text-align: left;
        width: 350px;
        height: 100%;
        background-color: $mainWindowColor;

        .inputfield-name{
          padding: 0 15px 0 10px;
          display: block;
          position: absolute;
          width:100%;
          height: 40px;
          top:0;
          left:0;
          background-color: $buttonColor2;
          .inputfield-icon{
            position: absolute;
            left: 20px;
            top: 7px;
            font-size: 20px;
            color:$white;


          }
          .inputfield-name-inner{
            display: inline-block;
            height: inherit;
            width: auto;
            color: white;
            line-height: 40px;
            vertical-align: middle;
            text-align: left;
            box-sizing: border-box;
            padding-left: 35px;
            font-size: 20px;
          }

        }
        .inputfield-save{
          padding: 0;
          display: block;
          position: absolute;
          width:100%;
          height: 50px;
          bottom:0;
          left:0;
          padding-top: 10px;
          box-sizing: border-box;
          background-color: $buttonColor2;


          .inputfield-save-button{
            display: block;
            width: 60px;
            height: 30px;
            float:right;
            margin-right: 15px;
            vertical-align: middle;
            text-align: center;
            line-height: 30px;
            background-color: $buttonColor3;
            color:white;
            cursor: pointer;
            &:hover{
              background-color: $buttonColor32;
            }
          }
          .inputfield-cancel-button{
            display: block;
            width: 80px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            vertical-align: middle;
            float:right;
            margin-right: 5px;
            color:white;
            background-color: $buttonColor1;
            cursor: pointer;
            &:hover{
              background-color: $buttonColor12;
            }
          }

        }
        .inputfield-setting{
          box-sizing: border-box;
          display: block;
          position: absolute;
          width:100%;
          height: auto;
          top:40px;
          bottom:50px;
          left:0;
          background-color: $buttonColor1;
          @include gradient($buttonColor14,$buttonColor15);
          overflow-y: auto;

          .block{
            width: 100%;
            height: auto;
            display: inline-block;
            box-sizing: border-box;
            padding: 8px 16px;
            border-bottom: 1px solid $fieldColor;

            .heading {
              display: block;
              width: 100%;
              height: $popupinputheight;
              line-height: $popupinputheight;
              font-size: 16px;
              color: $fieldColor;

              .description{
                display: inline-block;
                position: absolute;
                display: none;
                height: $popupinputheight - 4px;
                width: $popupinputheight - 4px;
                padding-top : 2px;
                padding-left: 5px;
              }
            }
            .block-body {
              width: 100%;
              height: auto;
              clear: both;
              .label {
                text-align: left;
                float: left;
                width: calc(100% - 120px);
                height: $popupinputheight;
                line-height: $popupinputheight;
                font-size: 16px;
                color: $fieldColor;
                margin-bottom: 3px;

                .description {
                  display: inline-block;
                  position: absolute;
                  display: none;
                  height: $popupinputheight - 4px;
                  width: $popupinputheight - 4px;
                  padding-top: 2px;
                  padding-left: 5px;

                }

              }
              .small-input {
                width: calc(100% - 2px);
                height: 23px;
                border: none;
                border-radius: 2px;
                display: inline-block;
                margin-bottom: 3px;
                box-sizing: border-box;
                padding-left: 5px;

                //&:focus {
                //  outline: 2px solid $mainToolbarColor;
                //  outline: 0;
                //}
              }

              .max-length {
                width: calc(30% - 2px);
                height: 25px;
                border: none;
                border-radius: 2px;
                display: inline-block;
                margin-bottom: 3px;
                box-sizing: border-box;
                padding-left: 5px;
                //&:focus {
                //  outline: 2px solid $mainToolbarColor;
                //  outline: 0;
                //}
              }


              .large-input {
                width: calc(100% - 4px);
                height: 55px;
                border: none;
                border-radius: 2px;
                display: inline-block;
                resize: none;
                margin-bottom: 3px;
                //&:focus {
                //  outline: 2px solid $mainToolbarColor;
                //  outline: 0;
                //
                //}
              }
              .choices{
                .choice-block{
                  width: 100%;
                  margin-bottom: 10px;
                  &:last-child{
                    margin-bottom: 3px;
                  }
                  .choice{
                    width: calc(100% - 30px - 15px - 4px);
                    border: none;
                    height: 23px;
                    border-radius: 2px;
                    //&:focus {
                    //  outline: 0;
                    //}
                  }
                  .controls{
                    width: 30px;
                    float: right;
                    .add-choice-icon,.remove-choice-icon{
                      position: relative;
                      float: left;
                      height: 23px;
                      width: 23px;
                      padding-right: 5px;
                      cursor: pointer;
                    }
                  }

                }
              }

              .selection-count{
                width: 100%;
                margin-top: 3px;
                .label{
                  width: 100%;
                }
                .min-selection,.max-selection{
                  width: calc(50% - 5px);
                  float: left;
                  .min-selected,.max-selected{
                    width: calc(100% - 6px);
                    height: 25px;
                    border: none;
                    border-radius: 2px;
                    display: inline-block;
                    margin-bottom: 3px;
                    box-sizing: border-box;
                    padding-left: 5px;
                    //&:focus {
                    //  outline: 2px solid $mainToolbarColor;
                    //  outline: 0;
                    //}
                  }

                }
                .max-selection{
                  float: right;
                }
              }


              .dataset {
                width: calc(100% - 45px - 2px);
                height: 23px;
                border: none;
                border-radius: 2px;
                display: inline-block;
                margin-bottom: 3px;
                box-sizing: border-box;
                padding-left: 5px;
                //&:focus {
                //  outline: 2px solid $mainToolbarColor;
                //  outline: 0;
                //}
              }
              .dataset-add-icon {
                position: relative;
                height: 23px;
                width: 23px;
                float: right;
                padding-right: 5px;
                cursor: pointer;

              }

              .description-block {
                display: none;
                width: 100%;
              }

              .on-off-setup {
                width: 2*$on-off-width;
                height: $popupinputheight;
                border: none;
                border-radius: 2px;
                display: block;
                float: right;
                overflow: hidden;
                margin-bottom: 3px;

                .mover {
                  position: relative;
                  width: 3*$on-off-width;
                  left: - $on-off-width;
                  cursor: pointer;

                  .on-setup, .off-setup, .slider {
                    float: left;
                    width: $on-off-width;
                    height: $popupinputheight;
                    line-height: $popupinputheight;
                    vertical-align: middle;
                    text-align: center;
                    color: white;
                    border-radius: 0;
                  }
                  .on-setup {
                    background-color: $mainToolbarColor;
                    border-top-left-radius: 2px;
                    border-bottom-left-radius: 2px;
                    &:hover{
                      background-color: $mainToolbarColor2;
                    }
                  }
                  .slider {
                    background-color: $backgroundColor;
                    border-radius: 2px;
                  }
                  .off-setup {
                    background-color: $mainWindowColor;
                    border-top-right-radius: 2px;
                    border-bottom-right-radius: 2px;
                    &:hover{
                      background-color: $mainWindowColor2;
                    }
                  }
                }
                .on-selected {
                  left: 0;
                  .slider {
                    border-top-left-radius: 0px;
                    border-bottom-left-radius: 0px;
                    border-top-right-radius: 2px;
                    border-bottom-right-radius: 2px;
                  }
                }
                .off-selected {
                  left: -$on-off-width;
                  .slider {
                    border-top-left-radius: 2px;
                    border-bottom-left-radius: 2px;
                    border-top-right-radius: 0px;
                    border-bottom-right-radius: 0px;
                  }
                }
              }
              .add-dataset-block{
                border-top: 1px solid white;
                display: none;
                margin-top: 5px;
                .dataset-save {
                  padding: 0;
                  display: block;
                  width: 100%;
                  bottom: 0;
                  left: 0;
                  padding-top: 10px;
                  box-sizing: border-box;
                  .dataset-save-button {
                    display: block;
                    width: 60px;
                    height: 30px;
                    float: right;
                    margin-right: 15px;
                    vertical-align: middle;
                    text-align: center;
                    line-height: 30px;
                    background-color: $buttonColor3;
                    color: white;
                    cursor: pointer;

                  }
                  .dataset-cancel-button {
                    display: block;
                    width: 80px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    vertical-align: middle;
                    float: right;
                    margin-right: 5px;
                    color: white;
                    background-color: $buttonColor2;
                    cursor: pointer;

                  }
                }
              }
            }
          }
        }
      }
      .preview{
        position: absolute;
        width: auto;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 350px;
        overflow: auto;
        overflow-x: hidden;
        background-color: $fieldColor;

        .preview-block {
          width: 450px;
          padding-left: 40px;
          box-sizing: border-box;
          margin-top: 200px;
          visibility: hidden;

          .fieldname {
            box-sizing: border-box;
            display: block;
            width: 100%;
            position: relative;
            color: $backgroundColor;
            vertical-align: middle;
            line-height: 30px;
            font-size: 30px;
            cursor: pointer;
          }

          .description {
            box-sizing: border-box;
            width: 100%;
            position: relative;
            color: $backgroundColor;
            margin-top: 10px;
            vertical-align: middle;
            line-height: 20px;
            font-size: 20px;
            cursor: pointer;
          }
          .shortanswer {
            width: 100%;
            height: 38px;
            border: none;
            display: inline-block;
            margin-top: 15px;
            margin-bottom: 20px;
            .shortanswer-input{
              width: calc(100% - 4px);
              height: 100%;
              font-size: 32px;
              border: $gray 1px solid;
              border-radius: 2px;
              display: inline-block;

              //&:focus {
              //  outline: 2px solid $mainToolbarColor;
              //  outline: 0;
              //}
            }

          }
          .longanswer {
            width: 100%;
            height: 120px;
            border: none;
            display: inline-block;
            margin-top: 15px;
            margin-bottom: 20px;
            .longanswer-input{
              resize: none;
              width: calc(100% - 4px);
              height: 100%;
              font-size: 20px;
              border: $gray 1px solid;
              border-radius: 2px;
              display: inline-block;
              //&:focus {
              //  outline: 2px solid $mainToolbarColor;
              //  outline: 0;
              //}
            }
          }
          .selectbox{
            width: 100%;
            height: 38px;
            border: none;
            display: inline-block;
            margin-top: 15px;
            margin-bottom: 20px;
            .selectbox-input{
              width: calc(100% - 4px);
              height: 100%;
              font-size: 22px;
              border: $mainAppColor 1px solid;
              border-radius: 2px;
              display: inline-block;
              //&:focus {
              //  outline: 0;
              //}
            }

          }
          .checkbox{
            width: 100%;
            border: none;
            display: inline-block;
            margin-top: 15px;
            margin-bottom: 20px;
            .checkbox-input-block{
              .checkbox-input{
                display: none;
              }
              .label{
                width: 100%;
                display: block;
                height: 34px;
                position: relative;
                cursor: pointer;
                background-color: white;
                font-size: 24px;
                line-height: 34px;
                margin-bottom: 6px;
                padding-left: 40px;
                box-sizing: border-box;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                border-radius: 2px;
                border: 1px solid $mainWindowColor;
                .check-icon {
                  display: block;
                  position: absolute;
                  background-color: $mainWindowColor;
                  top:0;
                  bottom: 0;
                  left: 0;
                  width: 34px;

                }
              }
              .checked{
                border: 1px solid $mainToolbarColor;

                .check-icon {
                  background-color: $mainToolbarColor;
                }
              }
            }

          }
          .preview-save{
            display: block;
            height: 50px;
            box-sizing: border-box;
            .preview-next-button,.preview-back-button{
              display: block;
              width: 80px;
              height: 30px;
              float: right;
              vertical-align: middle;
              text-align: center;
              line-height: 30px;
              font-size: 20px;
              border-radius: 2px;
              background-color: $mainToolbarColor;
              color: white;
              cursor: pointer;
            }
            .preview-back-button{
              float:left;
              background-color: $mainWindowColor;
            }
            .preview-next-button{
              float: right;
              background-color: $mainToolbarColor;
            }
          }
        }

        .close {
          position: absolute;
          top: 10px;
          right: 10px;
          color: black;
          width: 40px;
          height: 40px;
          cursor: pointer;

        }
      }
    }

  }



}

.blur{
  -webkit-filter: blur(1px) grayscale(0.2) opacity(0.8);
  -moz-filter: blur(1px) grayscale(0.2) opacity(0.8);
  -o-filter: blur(1px) grayscale(0.2) opacity(0.8);
  -ms-filter: blur(1px);
  filter: blur(1px) grayscale(0.2) opacity(0.8);
}