.wm-form-creator-app{
  .formSelector{

    display: none;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
    width: 440px;
    height: 250px ;
    margin: auto;
    padding: 4px;

    @include shadow();


    .close-form-selector{
      position: absolute;
      top: -2px;
      right: -2px;
      width: 20px;
      height: 20px;
    }

    .select-block{
      width: 100%;
      margin: auto;
      height: 100%;
      position: relative;
      .select-icons{
        display: block;
        height: calc(100% - 20px);
        width: calc(100% - 20px);
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;

        .copy-form,.new-form {
          width: calc(50% - 5px);
          height: 100%;
          border-radius: 2px;
          position: relative;
          .label{
            position: absolute;
            bottom : 10px;
            left: 0;
            width: 100%;
            line-height: 30px;
            font-size: 25px;
            color: white;
            text-align: center;
          }
          .copy-form-icon,.new-form-icon{
            height: 150px;
            width: 150px;
            margin: auto;
            margin-top:20px;

          }


        }
        .copy-form{
          float: left;
          background-color: $mainToolbarColor2;
          &:hover{
            background-color: $mainToolbarColor3;
          }
          .copy-form-icon{
          }
        }
        .new-form{
          float: right;
          background-color: $mainWindowColor;
          &:hover{
            background-color: $mainWindowColor2;
          }
          .new-form-icon{
          }
        }

        .new-form.disabled{
          &:hover{
            background-color: $mainWindowColor;
          }
        }

        .copy-form.disabled{
          &:hover{
            background-color: $mainToolbarColor;
          }
        }
      }


      .select-name,.select-form{
        display: none;
        width: 100%;
        height: 150px;
        font-size: 25px;
        border-radius: 2px;
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left:0;
        right: 0;

        .label{
          margin-bottom: 20px;
          text-align: center;
        }
        .form-outer-block{
          width: 100%;
          height: 30px;
          margin-bottom: 20px;
          position: relative;

          .form-name,.form-selector{
            width: calc(100% - 6px);
            height: 30px;
            line-height: 30px;

            //&:focus{
            //  outline: 0;
            //}
          }

        }

        .save-form-name,.save-form-selection{
          padding: 0;
          display: block;
          position: relative;
          height: 50px;
          padding-top: 10px;
          box-sizing: border-box;
          margin: auto;
          width: 290px;

          .cancel-save, .confirm-save{
            display: inline-block;
            width: 120px;
            height: 30px;
            float: left;
            vertical-align: middle;
            text-align: center;
            line-height: 30px;
            font-size: 24px;
            background-color: $buttonColor3;
            color:white;
            cursor: pointer;
            border-radius: 2px;

            &:hover{
              background-color: $buttonColor32;
            }
          }

          .confirm-save{
            background-color: $buttonColor1;
            float: right;
            &:hover{
              background-color: $buttonColor12;
            }
          }
        }

      }

      .select-name{
        .form-outer-block{
          .form-name{
          }
        }


      }

      .select-form{
        .form-outer-block {
          .form-selector{
            width: 100%;
            -webkit-appearance: menulist-button;
          }
        }

      }
    }

  }


  .disabled{
    -webkit-filter: grayscale(95%);
    -moz-filter: grayscale(95%);
    -ms-filter: grayscale(95%);
    -o-filter: grayscale(95%);
    filter: grayscale(95%);
    filter: url(grayscale.svg); /* Firefox 4+ */
    filter: gray; /* IE 6-9 */;
  }

  .error{
    outline: 2px solid red;
    &:focus{
      outline: 2px solid red;
    }
  }
}