//$backgroundColor : #040520;
//$backgroundColor2 : #10042f;
//$mainAppColor : #f0f0f0;
$backgroundColor : #fff;
$backgroundColor2 : #fff;
$mainAppColor : #fff;


$mainToolbarColor: #2bf4b1;
$mainToolbarColor1: #29e9a9;
$mainToolbarColor2: #00E499;
$mainToolbarColor3 : #009464;
$mainToolbarColor4 : #003F24;
$mainToolbarColor5: #007041;

$mainWindowColor: #E93255;
$mainWindowColor1: #e63255;
$mainWindowColor2 : #AE1331;
$mainWindowColor3 : #680014;

$buttonColor1 : #5562AA ;
$buttonColor12 : #24327D;
$buttonColor13 : #07124A;
$buttonColor14 : #3A4895;
$buttonColor15 : #394793;

$buttonColor2: #1289D0;
$buttonColor22: #045483;
$buttonColor23 : #158DD4;

$buttonColor3 : #0672AF;
$buttonColor32: #034369;

$gray : #757575;
$fieldColor : #FDFFFC;
$fieldFontColor : #000543;
$darkblue : #040520;

$popupinputheight : 25px;
$on-off-width : 45px;
$toolbar-width : 300px;
$spacing : 20px;