<div class="block">
    <div class="block-body">
        <div class="label">Required
            <div class="description">
                <div class="icon-description"></div>
            </div>
        </div>
        <div class="on-off-setup">
            <div class="mover required on-selected">
                <div class="on-setup">On</div>
                <div class="slider"></div>
                <div class="off-setup">Off</div>
            </div>
        </div>
    </div>
</div>
<div class="block">
    <div class="block-body">
        <div class="label">Editable
            <div class="description">
                <div class="icon-description"></div>
            </div>
        </div>
        <div class="on-off-setup">
            <div class="mover editable on-selected">
                <div class="on-setup">On</div>
                <div class="slider"></div>
                <div class="off-setup">Off</div>
            </div>
        </div>
    </div>
</div>
<div class="block">
    <div class="block-body">
        <div class="label">Visible
            <div class="description">
                <div class="icon-description"></div>
            </div>
        </div>
        <div class="on-off-setup">
            <div class="mover visible on-selected">
                <div class="on-setup">On</div>
                <div class="slider"></div>
                <div class="off-setup">Off</div>
            </div>
        </div>
    </div>
</div>