<div class="preview-block">
    <div class="fieldname"></div> 
    <div class="description"></div> 
    <div class="checkbox"> 
    </div> 
    <div class="preview-save"> 
        <div class="preview-back-button">BACK</div> 
        <div class="preview-next-button">NEXT</div>
    </div>
</div>