<div class="checkbox-input-block">
    <input type="checkbox" value="{{choice}}" class="checkbox-input" id="checkbox{{id}}">
    <label class="label" for="checkbox{{id}}">
        <div class="check-icon">
            <div class="icon-check"></div>
        </div>
        <span>{{choice}}</span>

    </label>
</div>