<div class="formSelector"> 
    <div class="select-block">
        <div class="select-icons">
            <div class="copy-form">
                <div class="copy-form-icon">
                    <i class="icon icon-form"></i>
                    <div class="label">Select form</div>
                </div>
            </div>
            <div class="new-form">
                <div class="new-form-icon">
                    <i class="icon icon-plus"></i>
                    <div class="label">Create form</div>
                </div>
            </div>
        </div>
        <div class="select-name">
            <div class="label">Insert name</div>
            <div class="form-outer-block"><input class="form-name" type="text"></div>
            <div class="save-form-name">
                <div class="cancel-save">Back</div>
                <div class="confirm-save">Create</div>
            </div>
        </div> 
        <div class="select-form">
            <div class="label">Select form</div>
            <div class="form-outer-block"><select class="form-selector"></select> </div> 
            <div class="save-form-selection">
                <div class="cancel-save">Back</div>
                <div class="confirm-save">Select</div>
            </div>
        </div> 
    </div>
    <div class="close-form-selector">
    </div>
</div> 