<div class="formMapper">

    <div class="navigation-toolbar">
        <div class="content">
            <div class="toolbar-button upload-data">
                <a><i class="icon icon-upload"></i></a>
                <div class="tooltip">
                    Nahrajte súbory
                </div>
            </div>
            <div class="toolbar-button download-xml">
                <a><i class="icon icon-xml"></i></a>
                <div class="tooltip">
                    Stiahnite si XML
                </div>
            </div>
            <div class="toolbar-button download-svg">
                <a><i class="icon icon-svg"></i></a>
                <div class="tooltip">
                    Stiahnite si SVG
                </div>
            </div>
        </div>
    </div>


    {{>petrinet}}

    <div class="close-mapper"> 
        <div class="close-button">Ďalej
            <i class="icon icon-arrow-simple-right"></i>
            <i class="icon icon-arrow-simple-right"></i>
            <i class="icon icon-arrow-simple-right"></i>
        </div>
    </div> 
</div>