<div class= "formCreator"> 
    <div class="main"> 
        <div class="form-name">
            <div class="form-icon">
                <i class="icon icon-form"></i>
            </div>
            <input class="form-name-value" type="text">
        </div>
        <div class="toolbar "> 
            <div class="content"> 
                <ul class="buttons-group"> 
                    <li class="button-large" draggable="true" data-type="shortanswer"> <div class="button-icon"><i class="icon icon-shortanswer"></i></div> Short answer </li>
                    <li class="button-large" draggable="true" data-type="longanswer"> <div class="button-icon"><i class="icon icon-longanswer"></i></div> Long answer </li>
                    <li class="button-large" draggable="true" data-type="selectbox"> <div class="button-icon"><i class="icon icon-selectbox"></i></div> Selectbox </li>
                    <li class="button-large" draggable="true" data-type="checkbox"> <div class="button-icon"><i class="icon icon-checkbox"></i></div> Checkbox </li>
                </ul> 
                <div class="cancel-save">
                    <div class="cancel-button">Cancel</div>
                </div> 
                <div class="close-form-creator">
                    <div class="close-button">Finish</div>
                </div>
            </div> 
        </div> 
        <div class="window "> 
            <div class="content"> 
                <ul class="inputfields-group"> 
                </ul> 
                <ul class="newinputfield-group">
                    <li class="newinputfield" draggable="true"> <div class="input-icon"><i class="icon icon-move"></i></div>
                        <span class="input-text">Add next field by click or use Drag & Drop</span> 
                    </li> 
                </ul>
            </div> 
        </div> 
    </div> 
    <div class="popup"> 
        <div class="toolbar-editor"> 
            <div class="inputfield-save"> 
                <div class="inputfield-save-button">Save</div> 
                <div class="inputfield-cancel-button">Cancel</div> 
            </div> 
        </div> 
        <div class="preview"> 
            <div class="close"> 
            </div> 
        </div> 
    </div>
</div>