<div class="formMapper">

    {{>petrinet}}

    <div class="close-mapper"> 
        <div class="close-button">Finish <i class="icon icon-arrow-simple-right"></i><i class="icon icon-arrow-simple-right"></i></div>
    </div> 
</div>