<div class="formSelector"> 
    <div class="select-block">
        <div class="select-icons">
            <div class="copy-form">
                <div class="copy-form-icon">
                    <i class="icon icon-form"></i>
                    <div class="label">Vyberte z existujúcich</div>
                </div>
            </div>
            <div class="new-form">
                <div class="new-form-icon">
                    <i class="icon icon-plus-circle"></i>
                    <div class="label">Vytvorte nový formulár</div>
                </div>
            </div>
        </div>
        <div class="select-name">
            <div class="label">Zadajte meno</div>
            <div class="form-outer-block"><input class="form-name" type="text"></div>
            <div class="save-form-name">
                <div class="cancel-save">Späť</div>
                <div class="confirm-save">Vytvoriť</div>
            </div>
        </div> 
        <div class="select-form">
            <div class="label">Vyberte formulár</div>
            <div class="form-outer-block"><select class="form-selector"></select> </div> 
            <div class="save-form-selection">
                <div class="cancel-save">Späť</div>
                <div class="confirm-save">Vybrať</div>
            </div>
        </div> 
    </div>
    <!--<div class="close-form-selector">-->
        <!--<i class="icon icon-close"></i>-->
    <!--</div>-->
</div> 