<div class= "formCreator"> 
    <div class="main"> 

        <div class="toolbar "> 
            <div class="content">
                <div class="form-name">
                    <div class="form-icon">
                        <i class="icon icon-rename"></i>
                    </div>
                    <input class="form-name-value" type="text">
                </div>
                <ul class="buttons-group"> 
                    <li class="button-large" draggable="true" data-type="shortanswer"> <div class="button-icon"><i class="icon icon-shortanswer"></i></div> Krátka odpoveď </li>
                    <li class="button-large" draggable="true" data-type="longanswer"> <div class="button-icon"><i class="icon icon-longanswer"></i></div> Dlhá odpoveď </li>
                    <li class="button-large" draggable="true" data-type="selectbox"> <div class="button-icon"><i class="icon icon-selectbox"></i></div> Výber z viacerých </li>
                    <li class="button-large" draggable="true" data-type="checkbox"> <div class="button-icon"><i class="icon icon-checkbox"></i></div> Zaškrtávacie políčka </li>
                </ul> 

            </div> 
        </div> 
        <div class="window "> 
            <div class="content"> 
                <ul class="inputfields-group"> 
                </ul> 
                <ul class="newinputfield-group">
                    <li class="newinputfield" draggable="true"> <div class="input-icon"><i class="icon icon-move"></i></div>
                        <span class="input-text"> Pridaj ďalšie políčko kliknutím na tlačidlo alebo potiahnutím</span>
                    </li> 
                </ul>
            </div>
            <div class="controls">
                <div class="cancel-save">
                    <div class="cancel-button">Zrušiť zmeny</div>
                </div>
                <div class="close-form-creator">
                    <div class="finish-creator-button">Uložiť zmeny</div>
                </div>
            </div>
        </div> 
    </div> 
    <div class="popup"> 
        <div class="toolbar-editor"> 
            <div class="inputfield-save"> 
                <div class="inputfield-save-button">Uložiť</div>
                <div class="inputfield-cancel-button">Zrušiť</div>
            </div> 
        </div> 
        <div class="preview"> 
            <div class="close"> 
            </div> 
        </div> 
    </div>
</div>