<li class="inputfield" draggable="true" data-id =" {{id}}">
    <div class="input-icon"><i class="icon icon-{{type}}"></i></div>
    <span class="input-fieldname">{{fieldname}}</span>
    <div class="input-remove-icon">
        <i class="icon icon-close"></i>
    </div>
</li>