<div class="preview-block"> 
    <div class="fieldname"></div> 
    <div class="description"></div> 
    <div class="longanswer"> 
        <textarea class="longanswer-input" type="text"></textarea>
    </div>
    <div class="preview-save">
        <div class="preview-back-button"><i class="icon icon-arrow-simple-left"></i><span>Späť</span></div>
        <div class="preview-next-button"><span>Ďalej</span> <i class="icon icon-arrow-simple-right"></i></div>
    </div>
</div>