<div class="transition-controlls"  data-id="">
    <div class="close-controlls"><div class="close-button"></div></div>
    <div class="action-selector">
        <div class="headline">{{formname}}</div>
        <div class="edit-form">
            <div class="edit-button">
                <i class="icon icon-settings"></i>
            </div>
            <div class="label">Edit</div>
        </div>
        <div class="change-form">
            <div class="rename-button">
                <i class="icon icon-rename"></i>
            </div>
            <div class="label">Rename</div>
        </div>
        <div class="remove-form">
            <div class="remove-button">
                <i class="icon icon-delete"></i>
            </div>
            <div class="label">Remove</div>
        </div>
    </div>

    <div class="remove-form-confirm" >
        <div class="headline">{{formname}}</div>
        <div class="question">Are you sure you want to remove this form from transition ?</div>
        <div class="cancel">Cancel</div>
        <div class="remove">Remove</div>
    </div>

    <div class="change-form-name-confirm">
        <div class="headline">Rename form</div>
        <input class="form-name" value="{{formname}}">
        <div class="cancel">Cancel</div>
        <div class="save">Save</div>
    </div>

</div>