<div class="inputfield-name"> 
    <div class="inputfield-icon">
        <i class="icon icon-shortanswer"></i>
    </div> 
    <div class= "inputfield-name-inner">Krátka odpoveď</div>
</div> 
<div class="inputfield-setting">
    
    {{>topcontrols}}
    <div class="block"> 
        <div class="heading">Maximálna dĺžka
            <div class="description"> 
            </div> 
        </div> 
        <div class="block-body"> 
            <input type="text" class="max-length"> 
        </div> 
    </div>
    {{>dataset}}
    {{>bottomcontrols}}
</div>