<div class="inputfield-name">
    <div class="inputfield-icon"> 
        <i class="icon icon-checkbox"></i>
    </div>
    <div class= "inputfield-name-inner">Checkbox</div> 
</div>

<div class="inputfield-setting"> 
    <div class="block"> 
        <div class="heading">Question</div> 
        <div class="block-body"> 
            <input type="text" class="small-input fieldname"> 
        </div> 
    </div> 
    <div class="block"> 
        <div class="block-body"> 
            <div class="label">Description 
                <div class="description"> 
                    <div class="icon-description"></div> 
                </div> 
            </div> 
            <div class="on-off-setup"> 
                <div class="mover off-selected"> 
                    <div class="on-setup">On</div> 
                    <div class="slider"></div> 
                    <div class="off-setup">Off</div> 
                </div> 
            </div> 
            <div class="description-block"> 
                <textarea type="text" class="large-input description"></textarea> 
            </div> 
        </div> 
    </div> 
    <div class="block"> 
        <div class="heading">Add choices 
            <div class="description"> 
                <div class="icon-description"></div> 
            </div> 
        </div> 
        <div class="block-body"> 
            <div class="choices"> 
                <div class="choice-block"> 
                    <input type="text" class="choice"> 
                    <div class="controls"> 
                        <div class="add-choice-icon">
                            <div class="icon-add"></div> 
                        </div> 
                    </div>
                </div> 
            </div> 
        </div> 
    </div> 
    <div class="block"> 
        <div class="heading">Selection count 
            <div class="description"> 
                <div class="icon-description"></div> 
            </div> 
        </div> 
        <div class="block-body"> 
            <div class="selection-count">
                <div class="min-selection">
                    <div class="label">Minimum</div>
                    <input type="text" class="min-selected"> 
                </div> 
                <div class="max-selection">
                    <div class="label">Maximum</div>
                    <input type="text" class="max-selected"> 
                </div> 
            </div> 
        </div> 
    </div> 
    
    <div class="block"> 
        <div class="block-body"> 
            <div class="label">Alphabetical order 
                <div class="description"> 
                    <div class="icon-description"></div> 
                </div> 
            </div> 
            <div class="on-off-setup"> 
                <div class="mover alph-order on-selected"> 
                    <div class="on-setup">On</div> 
                    <div class="slider"></div> 
                    <div class="off-setup">Off</div> 
                </div> 
            </div> 
        </div> 
    </div> 
    <div class="block"> 
        <div class="heading">Dataset variable
            <div class="description"> 
                <div class="icon-description"></div> 
            </div> 
        </div> 
        <div class="block-body"> 
            <select class="selectbox dataset"> 
            </select> 
            <div class="dataset-add-icon"><div class="icon-add"></div></div>
            <div class="add-dataset-block"> 
                <div class="label"> Set dataset name</div> 
                <input type="text" class="small-input new-dataset"> 
                <div class="dataset-save"> 
                    <div class="dataset-save-button">Save</div> 
                    <div class="dataset-cancel-button">Cancel</div> 
                </div> 
            </div> 
        </div> 
    </div> 
    <div class="block"> 
        <div class="block-body"> 
            <div class="label">Required 
                <div class="description"> 
                    <div class="icon-description"></div> 
                </div> 
            </div> 
            <div class="on-off-setup"> 
                <div class="mover required on-selected"> 
                    <div class="on-setup">On</div> 
                    <div class="slider"></div> 
                    <div class="off-setup">Off</div> 
                </div> 
            </div> 
        </div> 
    </div> 
    <div class="block"> 
        <div class="block-body"> 
            <div class="label">Editable 
                <div class="description"> 
                    <div class="icon-description"></div> 
                </div> 
            </div> 
            <div class="on-off-setup"> 
                <div class="mover editable on-selected"> 
                    <div class="on-setup">On</div> 
                    <div class="slider"></div> 
                    <div class="off-setup">Off</div> 
                </div> 
            </div> 
        </div> 
    </div> 
    <div class="block"> 
        <div class="block-body"> 
            <div class="label">Visible 
                <div class="description"> 
                    <div class="icon-description"></div> 
                </div> 
            </div> 
            <div class="on-off-setup"> 
                <div class="mover visible on-selected"> 
                    <div class="on-setup">On</div> 
                    <div class="slider"></div> 
                    <div class="off-setup">Off</div> 
                </div> 
            </div> 
        </div> 
    </div> 
</div>