<div class="inputfield-name"> 
    <div class="inputfield-icon">
        <i class="icon icon-selectbox"></i>
    </div> 
    <div class= "inputfield-name-inner">Selectbox</div> 
</div> 
<div class="inputfield-setting">

    {{>topcontrols}}
    <div class="block"> 
        <div class="heading">Add choices 
            <div class="description"> 
            </div> 
        </div> 
        <div class="block-body"> 
            <div class="choices"> 
                <div class="choice-block"> 
                    <input type="text" class="choice"> 
                    <div class="controls"> 
                        <div class="add-choice-icon">
                        </div> 
                    </div>
                </div> 
            </div> 
        </div> 
    </div> 
    <div class="block"> 
        <div class="block-body"> 
            <div class="label">Alphabetical order 
                <div class="description"> 
                </div> 
            </div> 
            <div class="on-off-setup"> 
                <div class="mover alph-order on-selected"> 
                    <div class="on-setup">On</div> 
                    <div class="slider"></div> 
                    <div class="off-setup">Off</div> 
                </div> 
            </div> 
        </div> 
    </div>
    {{>dataset}}
    {{>bottomcontrols}}
</div>