<div class="inputfield-name">
    <div class="inputfield-icon">
        <i class="icon icon-longanswer"></i>
    </div> 
    <div class= "inputfield-name-inner">Long answer</div> 
</div> 
<div class="inputfield-setting">
    {{>topcontrols}}
    <div class="block"> 
        <div class="heading">Max length 
            <div class="description"> 
            </div> 
        </div> 
        <div class="block-body"> 
            <input type="text" class="max-length"> 
        </div> 
    </div> 

    {{>dataset}}
    {{>bottomcontrols}}
</div>