<div class="preview-block"> 
    <div class="fieldname"></div> 
    <div class="description"></div> 
    <div class="shortanswer"> 
        <input  class="shortanswer-input" type="text"> 
    </div> 
    <div class="preview-save"> 
        <div class="preview-back-button">Back</div> 
        <div class="preview-next-button">Next</div> 
    </div> 
</div> 