 <div class="choice-block"> 
    <input type="text" class="choice"> 
    <div class="controls">
        <div class="remove-choice-icon">
            <i class="icon icon-delete"></i>
        </div>
    </div>
</div>  