<div class="block">
    <div class="heading">Question</div>
    <div class="block-body">
        <input type="text" class="small-input fieldname">
    </div>
</div>
<div class="block">
    <div class="block-body">
        <div class="label">Description
            <div class="description">
                <div class="icon-description"></div>
            </div>
        </div>
        <div class="on-off-setup">
            <div class="mover off-selected">
                <div class="on-setup">On</div>
                <div class="slider"></div>
                <div class="off-setup">Off</div>
            </div>
        </div>
        <div class="description-block">
            <textarea type="text" class="large-input description"></textarea>
        </div>
    </div>
</div>