<div class="content container">
    <div class="tip-text">
            {{bannertext}}

    </div>
    <div class="navigation">
        <div class="banner-td forms">
            <a href="forms.html">Vytváranie formulárov</a>
        </div>

        <div class=" banner-td contact">
            <a href="/">Kontakt</a>
        </div>

        <div class=" banner-td license">
            <a href="/">Obchodné podmienky</a>
        </div>

        <div class=" banner-td howto">
            <a href="/">Ako nakupovať</a>
        </div>
        <div class="banner-td telephone-number ">
            <a href="tel:+421919437635">+421 919 437 635</a>
        </div>

    </div>
</div>
