<div class="content container">
    <div class="logo">
        <img src="../global/content/logo.jpg">
    </div>
    <div class="login-register">
        <div class="login">
            <i class="icon icon-door24"></i>
            <a href="/">Prihlásenie</a>
        </div>

        <div class="register">
            <i class="icon icon-locked61"></i>
            <a href="/">Registrácia</a>
        </div>

    </div>
</div>