<div class="quickregistration">
    <div class="header">Pridajte sa k nám</div>
    <input type="text" class="name" placeholder="Meno">
    <input type="text" class="surname" placeholder="Priezvisko">
    <input type="text" class="email" placeholder="Email">
    <input type="text" class="password" placeholder="Heslo">
    <div class="footer">
        <button class="register">
            <i class="icon icon-locked61"></i>
            <a href="/">Okamžitá registrácia</a>
        </button>
    </div>

</div>