$blue : #00a5c3;
$blue2 : #0085a2;

$purple : #e51a6b;
$purple2 : #b10047;

$gray : #909090;
$gray2 : #e2e2e2;
$gray3 : #414141;

$yellow : #f4c32d;

$h1Size : 45px ;
$h2Size : 28px ;
$h3Size : 18px ;

$textSize : 15px;
$textSmallSize : 13px;