<div class="fcard">
    <div class="header">{{header}}</div>
    <div class="description">{{description}}</div>
    <div class="membercount">
        <i class="icon icon-zoom71"></i>
        <span>Počet členov : {{membercount}}</span>
    </div>
    <div class="processcount">
        <i class="icon icon-heart297"></i>
        <span>Vlastných procesov : {{processcount}}</span>
    </div>
    <div class="footer">
        <button class="profil">Profil</button>
    </div>
</div>