<div class="banner"></div>
<div class="masthead"></div>
<div class="carousel">
    <div class="background">
    </div>
    <div class="container">
        <div class="drop-buttons">
            <div class="process button">
                <div class="inner">
                    <i class="icon icon-down124"></i>
                    <span>Procesy</span>
                </div>
                <div class="extra-padding"></div>
            </div>

            <div class="firm button">
                <div class="inner">
                    <i class="icon icon-down124"></i>
                    <span>Firmy</span>
                </div>
            </div>
        </div>
    </div>

</div>

<section>
    <div class="container">
        <div class="process-list">
            <div class="header">
                <i class="icon icon-blank38"></i>
                <span>Najpoužívanejšie procesy</span>
            </div>
            <div class="card-list">
            </div>
            <div class="more-cards">
                <button class="more-button">Zobraziť viac</button>
            </div>
        </div>
        <div class="firm-list">
            <div class="header">
                <i class="icon icon-blank38"></i>
                <span>Najlepšie firmy</span>
            </div>
            <div class="card-list">
            </div>
            <div class="more-cards">
                <button class="more-button">Zobraziť viac</button>
            </div>
        </div>
    </div>

</section>
