<div class="pcard">
    <div class="header">{{header}}</div>
    <div class="description">{{description}}</div>
    <div class="create-number">
        <i class="icon icon-zoom71"></i>
        <span>Vytvorených case-ov : {{creatednumber}}</span>
    </div>
    <div class="download-number">
        <i class="icon icon-heart297"></i>
        <span>Počet stiahnutí : {{downloadnumber}}</span>
    </div>
    <div class="footer">
        <div class="price">
            <span>{{price}}</span>
            <i class="icon icon-pause46"></i>
        </div>
        <button class="detail">Detail</button>
    </div>
</div>