.left{
    float: left;
}

.right{
    float: right;
}

#firm-passwd{
	display: none;
}

#firm-strategy:checked + #firm-passwd{
	display: block;
}

.main-menu-form-layout{
	width: 50%;
	max-width: 550px;
	min-width: 300px;
	margin: 10% auto 0 auto;
	padding: 30px;
	border-radius: 5px;
	background: #fff;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.15);
}

.overlay{
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0,0,0,0.5);
}

.overlay, #form-login{
	display: none;
}
