.masthead{
  background-color: white;
  height: 60px;
  width: 100%;
  position: relative;
  padding: 0 60px;
  box-sizing: border-box;


  .content{
    position: relative;
    height: 100%;
    width: 100%;
    .logo,.login-register{
      position: absolute;               /* 2 */
      top: 50%;                         /* 3 */
      transform: translate(0, -50%);
      display: inline-block;
    }

    .logo{
      max-width: 40%;
      width: 150px;
      height: 60px;
      left:0;
      img{
        width: 100%;
        height: 100%;
      }
    }

    .login-register{
      max-width: 60%;
      right:0;
      .login,.register{
        display: inline-block;
        margin: 0 5px;
        padding-right: 5px;
        box-sizing: border-box;
        &:last-child{
          margin-right: 0;
        }
        a{
          color: darkgray;
          text-decoration: none;
        }
        i{
          margin-right: 5px;
          padding-bottom: 2px;

        }
        &:hover{
          a{
            color: $gray3;
          }
        }
      }

      .login{
        i{
          color:$blue;
        }
        &:hover{
          i{
            color:$blue2;
          }
        }
      }

      .register{
        i{
          color:$purple;
        }
        &:hover{
          i{
            color:$purple2;
          }
        }
      }
    }
  }
}